@media (max-width: 430px) {
    #form-card {
      width: 330px;
      margin-top: 20px;
    }
  }

  /* // Extra small devices (portrait phones, less than 576px) */

  @media (max-width: 575px) {
    #web-title {
      text-align: center;
    }
    #web-subtitle {
      text-align: center;
      display: none;
    }

    #logo {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #sub-logo {
      display: none;
    }
  }

  /* // Small devices (landscape phones, 576px and up) */

  @media (min-width: 576px) and (max-width: 767px) {}

  /* // Medium devices (tablets, 768px and up) */

  @media (min-width: 768px) and (max-width: 991px) {}

  /* // Large devices (desktops, 992px and up) */

  @media (min-width: 992px) and (max-width: 1199px) {}

  /* // Extra large devices (large desktops, 1200px and up) */

  @media (min-width: 1200px) {}

  #main-container {
    padding: 20px;
  }

  div #featured-area {
    padding: 30px;
  }

  #sendmessage-form {
    padding: 20px;
  }

  div .border-gap {
    padding: 30px;
  }

  div .bottom-gap {
    padding-bottom: 35px;
  }

  #submit-button {
    float: right;
  }

  #header-subtitle {
    padding-top: 7px;
    text-align: right;
    padding-top: 25px;
  }

  #web-title {
    display: none;
  }

  #web-subtitle {
    display: none;
  }